<a href="https://colab.research.google.com/github/LuizSudario/Luiz-Antonio-Silva/blob/main/repeticaoFOR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LAÇO DE REPETIÇÃO "FOR"

In [ ]:
#range(inicio,fim,incremento)
for cont in range (0,20,2):
  print(cont)

#Segundo Exemplo

In [ ]:
for i in range (10,0,-2):
  print(i)

#Terceiro Exemplo

In [17]:
#Entrada de dados
num=int(input("Digite um número para o calculo de sua tabuada\n"))
print(f"\nCalculando a tabuada do {num}:\n")
#é possível omitir o número 1 (1,11) e também deixar somente (11)
for i in range (1,11,1):
  print(f"{num} x {i}={num*i}")

Digite um número para o calculo de sua tabuada
10

Calculando a tabuada do 10:

10 x 1=10
10 x 2=20
10 x 3=30
10 x 4=40
10 x 5=50
10 x 6=60
10 x 7=70
10 x 8=80
10 x 9=90
10 x 10=100